In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/processed/heart_disease_clean.csv')
df.head()

,age,trestbps,chol,thalach,oldpeak,ca,target,sex_1.0,cp_2.0,cp_3.0,cp_4.0,fbs_1.0,restecg_1.0,restecg_2.0,exang_1.0,slope_2.0,slope_3.0,thal_6.0,thal_7.0
0,63.0,145.0,233.0,150.0,2.3,0.0,0,True,False,False,False,True,False,True,False,False,True,True,False
1,67.0,160.0,286.0,108.0,1.5,3.0,2,True,False,False,True,False,False,True,True,True,False,False,False
2,67.0,120.0,229.0,129.0,2.6,2.0,1,True,False,False,True,False,False,True,True,True,False,False,True
3,37.0,130.0,250.0,187.0,3.5,0.0,0,True,False,True,False,False,False,False,False,False,True,False,False
4,41.0,130.0,204.0,172.0,1.4,0.0,0,False,True,False,False,False,False,True,False,False,False,False,False